.zdjecie{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    width: 300px;
}
.like{
    width: 50px;
}
.pasek{
    width: 200px;
    height: 20px;
    background-color: green;
}
.pdlike{
    
    height: 20px;
    background-color: red;
    float: left;
}
.plike{
    width: 70%;
    height: 20px;
    background-color: green;
    float: left;
}